header nav ul {
    margin-top: 15px !important;
}
body {
    height: 200vh;
}

.gym-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gym-image h2 {
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
}

.gym-image button {
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.75rem 1.5rem !important;
}

.main-title i,
.main-title h2{
color: var(--secondary-color);
}

.shop .main-title p {
    color: var(--nav-hover);
}

.main-title::before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 2px;
    background-color: var(--crimson-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.shop {
    margin-top: calc(100vh + 100px);
}

.shop .card{
    color: var(--secondary-color);
    background-color: var(--lighter-bg);
}