body {
    height: 200vh;
}
.gym-image {
    background-image: url("../../../images/OxygenShop.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    animation: fadeIn 0.4s ease-in-out;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.gym-image h2 {
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
}

.gym-image button {
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.75rem 1.5rem !important;
}


.main-title i,
.main-title h2{
color: var(--secondary-color);
}
.shop {
    animation: fadeIn 0.4s ease-in-out;
}

.shop .main-title p {
    color: var(--nav-hover);
}

.main-title::before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 2px;
    background-color: var(--crimson-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}


.shop .cardd{
    color: var(--secondary-color);
    background-color: var(--lighter-bg);
    position: relative;
    border: 1px solid var(--secondary-color);
}

.shop .cardd img{
max-width: 100%;
height: auto;
object-fit: contain;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent
}

.cardd .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}


.cardd .buttons > button{
    all: unset;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--lighter-bg);
    color: var(--secondary-color);
    transition: 0.2s ease-out;  
    margin-right: 10px;
}


.cardd .buttons > button:hover {
    color: var(--lighter-bg);
    background-color: var(--secondary-color);
}

.cardd .crossed-price {
    display: block;
    text-decoration: line-through;
    color: var(--nav-hover);
}

.card img {
    border-radius: 10px;
    border: 1px solid var(--nav-hover);
}