body {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.plans {
    margin-top: 100px;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.container .pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.plans .bCard {
    background-color: var(--lighter-bg);
    color: var(--secondary-color);
    min-height: 400px;
    max-width: 400px;
    border-radius: 23px;
    padding: 3rem 1rem;
    margin: 10px 35px;
    position: relative;
}


.plans .card a {
    all: unset;
    color: var(--secondary-color);
    background-color: var(--crimson-color);
    border-radius: 13px;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.plans .card a:hover {
    color: var(--crimson-color);
    background-color: var(--secondary-color);
}

.arrow-back {
    all:unset;
    background-color: var(--lighter-bg);
    border-radius: 10px;
    padding: 0 0.6rem 0.2rem;
    color: var(--secondary-color);
    transition: 0.3s ease-out;
    font-size: 20px;
    cursor: pointer;
}


.arrow-back:hover {
    color: var(--lighter-bg);
    background-color: var(--secondary-color);

}

.container .pricing h1 {
    color: var(--crimson-color);
    text-align: center;
    font-size: 80px;
    margin: 0 0 30px 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--secondary-color);
}

.container .pricing p {
    text-align: start;
    line-height: 24px;
    color: var(--text);
}


.pricing .bCard a {
    all:unset;
    padding: 12px 25px;
    background-color: var(--crimson-color);
    color: var(--secondary-color);
    border-radius: 13px;
    display: block;
    width: 100px;
    margin: 25px auto 0;
    cursor: pointer;
    transition: 0.2s ease-out;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}


.pricing .bCard a:hover {
    background-color: var(--secondary-color);
    color: var(--crimson-color);
}