
main {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    max-width: 1000px;   
    justify-content: center;
    margin: 120px auto 0;
    border-radius: 23px;
}

.Message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 20px 7px var(--card-shadow);
    border-radius: 23px;
}

.Message .image {
    width: 500px;
    justify-self: flex-start;
}
.Message .image img {
    max-width: 100%;
    object-fit:contain;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.Message form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.Message form .fullName{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    flex: 2;
}

.Message form .fullName div {
    margin: 5px;
}

.Message form .fullName  textarea{
    width: 500px;
    padding: 20px;
}


.Message form h1 {
    color: var(--secondary-color);
    font-size: 50px;
    margin: 15px auto 0;
    text-align: left;
}

.input-group {
    position: relative;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--secodary-color);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid var(--crimson-color);
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--lighter-bg);
    padding: 0 .2em;
    color: var(--crimson-color);
   }

   .input-group {
    position: relative;
  }
  

  .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--secondary-color);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    resize: none; 
}

.user-label {
    position: absolute;
    left: 15px;
    color: var(--secondary-color);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:valid {
    outline: none;
    border: 1.5px solid var(--crimson-color);
}

.input:focus ~ .user-label,
.input:valid ~ .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--main-color);
    border-radius: 6px;
    padding: 0 0.2em;
    color: var(--crimson-color);
}


.textarea {
    min-height: 120px; 
    width: 375px;
}

.Subscribe-btn {
    height: 100%;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--secondary-color);
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
    margin-bottom: 20px;
}

form .Subscribe-btn svg {
    fill: var(--lighter-bg);
}
.arrow {
    position: absolute;
    margin-right: 150px;
    transition: all 0.3s;
}
.input-wrapper:active .icon {
    transform: scale(1.3);
}
.Subscribe-btn:hover {
    color: var(--secondary-color);
}
.Subscribe-btn:hover .arrow {
    margin-right: 0;
    animation: jello-vertical 0.9s both;
    transform-origin: right;
}

@keyframes jello-vertical {
    0% {
    transform: scale3d(1, 1, 1);
    }
    30% {
    transform: scale3d(0.75, 1.25, 1);
    }
    40% {
    transform: scale3d(1.25, 0.75, 1);
    }
    50% {
    transform: scale3d(0.85, 1.15, 1);
    }
    65% {
    transform: scale3d(1.05, 0.95, 1);
    }
    75% {
    transform: scale3d(0.95, 1.05, 1);
    }
    100% {
    transform: scale3d(1, 1, 1);
    }
}
.Subscribe-btn:active {
    transform: scale(0.9);
}

.locations{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    /* justify-content: space-between; */
    text-align: center;
    background-color: var(--main-color);
    border-radius: 23px;
    width: 1300px;
    margin-top: 80px;
    margin-bottom: 80px;
    /* margin-left: -403px;     */
    color: var(--secondary-color);  
    transition: background-color 0.3s ease-out;
}

.locations .info{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 15px;
    padding: 2rem;
    color: var(--lighter-bg);
}
.locations > div {
    background-color: var(--main-color);
    border-radius: 23px;
    box-shadow: 0px 0px 20px 7px var(--card-shadow);
}
.locations .info div {
    padding: 1rem;
    background-color: var(--lighter-bg);
    border-radius: 23px;
    color: var(--secondary-color);
}

.locations .info div i {
    font-size: 40px;
    color: var(--crimson-color);
}
.locations .info div h3{
    font-size: 25px;
    margin: 10px;
}


@media (max-width:1440px){
    .Message {
        width: 100%;
    }
}

@media (max-width:1024px){
    .Message{
        width: 90%;
    }
}

@media (max-width:992px){
    .Message{
        width: 80%;
        justify-content:center;
    }
    .Message form {
        max-width: 500px;
    }
    .image{
        display: none;
    }
}

@media (max-width:544px){
    .textarea{
        width: 230px;
    }
    .Message form h2 {
        font-size: 40px;
    }
}

@media (max-width:480px){

}


select {
    
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    background-color: var(--lighter-bg);
    font-size: 16px;
    color: var(--secondary-color);
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E'); /* Custom dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: all 0.2s ease-out;
  }

  select:hover {
    border-color: #888;
  }

  select:focus {
    outline: none;
    background-color: var(--lighter-bg);
  }

  .right{
    margin-top: 40px;
  }
  #map {
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
  }