body {
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background-color: var(--lighter-bg);
    border-radius: 23px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 7px rgb(50 50 50 / 36%);
    width: 80%;
    height: 85%;
    animation: fadeIn 0.4s ease-in-out;
    border: 1px solid var(--main-color);
}

.signup-wrapper {
    display: flex;
    width: 100%;
    background: var(--main-color);
}

.signup-image {
    width: 50%;
    overflow: hidden;
}

.signup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup-card {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--lighter-bg);
    transition: background-color 0.3s ease-out;
}

.signup-title {
    font-size: 2rem;
    color: var(--crimson-color);
    margin-bottom: 10px;
}

.signup-subtitle {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.signup-form {
    width: 100%;
}

.input-group {
    margin-bottom:25px;
    width: 100%;
    position:relative
}

.input-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--text);
    position: absolute;
    top: 12px;
    left: 12px;
    transition: 100ms;
    opacity: 1;
}

.input-group label.hidden {
    opacity: 0;
}

.input-group input:focus + label {
    top: -20px;
    left: 0px;
    color: var(--secondary-color);
} 


.input-group {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

.input-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--text);
    position: absolute;
    top: 12px;
    left: 12px;
    transition: 100ms;
    pointer-events: none; /*Ensures the label doesn't interfere with input clicks */
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid var(--crimson-color);
    border-radius: 8px;
    background: var(--main-color);
    color: var(--secondary-color);
    transition: all 0.3s ease-out;
    position: relative;
}

/* Hide the label when the input is focused or has content */
.input-group input:focus + label{
    top: -20px;
    left: 0;
}
.input-group input:not(:placeholder-shown):not(:focus) + label {
    top: -20px;
    left: 0px;
    color: var(--secondary-color);
}

.input-group input:focus {
    border-color: var(--secondary-color);
    outline: none;
    box-shadow: 0 0 30px -16px var(--secondary-color);
}

.btn-grad {
    width: 100%;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--secondary-color);
    z-index: 1;
    background: var(--crimson-color);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.btn-grad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--secondary-color);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px var(--crimson-color);
    box-shadow: 4px 8px 19px -3px var(--crimson-color);
    transition: all 250ms;
}

.btn-grad:hover {
    color: var(--crimson-color);
    box-shadow: 0px 1px 30px -10px var(--crimson-color);
}

.btn-grad:hover::before {
    width: 100%;
}

.signup-footer {
    margin-top: 0;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.signup-footer a {
    color: var(--crimson-color);
    text-decoration: none;
    transition: 0.2s ease-out;
}

.signup-footer a:hover {
    color: var(--secondary-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:768px){
    .signup-card{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 21px;
    }
    .signup-container{
        width: 90%;
        height: auto;
    }
    .signup-image {
        /* display: none; */
        width: 100%;
    }
    .signup-image img {
        max-width: 100%;
        height: auto;
        /* aspect-ratio: 16 / 9; */
        object-fit: cover;
    }
    .signup-wrapper{
        flex-direction: column;
    }
}

@media (max-width:480px){
    

}