body {
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
display: block;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background-color: var(--lighter-bg);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 7px rgb(50 50 50 / 36%);
    width: 80%;
    height: 85%;
    animation: fadeIn 0.4s ease-in-out;
}

.signup-wrapper {
    display: flex;
    width: 100%;
    background: var(--main-color);
}

.signup-image {
    width: 50%;
    overflow: hidden;
}

.signup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup-card {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--lighter-bg);
}

.signup-title {
    font-size: 2rem;
    color: var(--crimson-color);
    margin-bottom: 10px;
}

.signup-subtitle {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.signup-form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--secondary-color);
}


.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--crimson-color);
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    transition: all 0.3s ease-out;
}

.input-group input:focus {
    border-color: var(--secondary-color);
    outline: none;
    box-shadow: 0 0 30px -16px var(--secondary-color);
}

.btn-grad {
    width: 100%;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--secondary-color);
    z-index: 1;
    background: var(--crimson-color);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.btn-grad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--secondary-color);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px var(--crimson-color);
    box-shadow: 4px 8px 19px -3px var(--crimson-color);
    transition: all 250ms;
}

.btn-grad:hover {
    color: var(--crimson-color);
    box-shadow: 0px 1px 30px -10px var(--crimson-color);
}

.btn-grad:hover::before {
    width: 100%;
}

.signup-footer {
    margin-top: 0;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.signup-footer a {
    color: var(--crimson-color);
    text-decoration: none;
    font-weight: bold;
}

.signup-footer a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:768px){
    .signup-card{
        width: 100%;
    }
    .signup-container{
        width: 90%;
        height: 86%;
    }
}

@media (max-width:480px){
    
    .signup-image {
        display: none;
    }
}