
.container {
    margin-left: 100px;
    margin-right: 100px;
}
.about{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    /* background-color: yellow; */
    border-radius: 10px;
    padding: 0 0 0 20px;
    border: 2px solid var(--text-color);
    box-shadow: 0 4px 20px rgba(229, 9, 20, 0.3);
    transition: all 0.3s ease-in-out;

}
.about:hover {
    box-shadow: 0 8px 30px rgba(229, 9, 20, 0.5);
    transform: translateY(-5px); /* Slight lift */
}

.about .main-heading{
    margin:0;
    padding: 20px;
}

.about .main-heading{
    text-align: start;
}

.about .video-wrapper{
    height: 400px;
    width: 223px;
    text-align: end;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    border-radius: 19px;
    
}
.about .video-wrapper video {
    max-height: 400px;
    object-fit: cover; 
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}


@media (max-width:1073px){
    .about .main-heading p {
        font-size: 17px;
    }
}

@media (max-width:937px){
    .about .main-heading h1 {
        font-size: 85px;
    }
    .about .main-heading p {
        font-size: 15px;
    }
    .container {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media (max-width:837px){
    .about .main-heading h1 {
        font-size: 75px;
    }
    .about .main-heading p {
        font-size: 13px;
    }
}
@media (max-width:795){
    .about .main-heading h1 {
        font-size: 45px;
    }
    .about .main-heading p {
        font-size: 13px;
    }
    .container {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width:735px){
    .about .main-heading h1 {
        font-size: 40px;
    }
    .about .main-heading p {
        font-size: 13px;
    }
    .about{
        position: relative;
        flex-direction: column;
    }
    .about .video-wrapper{
        clip-path: none;
        border-top-right-radius: 0;
    }
    .about .video-wrapper video{
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        height: auto;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .container {
        margin-left: 40px;
        margin-right: 40px;
    }
}