

.bCard {
    margin:35px auto;
    padding: 3em;
    max-width: 450px;
    background-color: var(--lighter-bg);
    color: var(--secondary-color);
    text-align: center;
    border-radius: 23px;
    position: relative;
    
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.bCard::after,
.bCard::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 3px;
    border-radius: 23px;
    background-image: conic-gradient(from var(--angle),var(--crimson-color) 10%,var(--secondary-color) 30%,transparent 30%,transparent 30%);
    animation: 7s spin linear infinite;
}

.bCard::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    0% {
    --angle:0deg;
    }
    100% {
        --angle:360deg;
    }
}
