
.showcase{
    border-radius: 23px;
    padding: 0 0 0 20px;
    border: 2px solid var(--crimson-color);
    box-shadow: 0 4px 20px var(--box-shadow);
    transition: all 0.3s ease-in-out;
}

.showcase .main-heading{
    padding: 20px;
}
.showcase .main-heading h1{
text-align: start;
}
.showcase:hover {
    box-shadow: 0 8px 30px var(--box-shadow);
    transform: translateY(-5px);
}

/* trying the blur effect */
@import url("https://unpkg.com/papercss@1.9.2/dist/paper.css") layer(csspaper);

.card-list:has(li:hover) li:not(:hover) {
    filter: blur(4px)
}

h1 {
    font-size: 2.2rem;
    color: var(--primary-color);
    margin: 0 0 2rem;  
  }
  
  h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .card-list  li {
    margin: 0;
    transition: all 150ms ease-out;
    position: relative;
    overflow: hidden;
  }
  .card-list li:hover{
    transform: scale(1.1);
  } 
  .card-list li:hover img {
    border: 1px solid var(--crimson-color);
    box-shadow: 7px 4px 28px -12px var(--box-shadow);
  }
  
  .card-list  li::before {
    content: "";
  }
  
  div.roll-up{
    position: absolute;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 300px;
    height:40%;
    bottom:-100%;
    transition: 200ms ease-out;
    border-radius: 10px;
    opacity: 0;
    clip-path: polygon(0% 30%, 0% 40%, 0% 5%, 50% 25%, 100% 5%, 100% 100%, 0% 100%);
  }
  div.roll-up h4{
    margin: 30px 0 5px;
    color: var(--crimson-color);
  }
  div.roll-up p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
  }
  .card-list li:hover .roll-up {
    bottom: 25px;
    border-radius: 10px;
    opacity: 1;
  }
  .card-list img {
    display: block;
    min-width: 0;
    width: 300px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }
  
  a {
    background: none;
  }
  
  .paper {
    padding: 1rem;

  }
  
  li a {
    padding-inline-start: 1rem;
  }

  @media (max-width:439px) {
    .card-list  li img {
        width: 200px;
    }
    div.roll-up{
      width: 200px;
    }
    div.roll-up h4{
      margin-left:-10px;
      margin-top: 8px;
      font-size: 12px;
      color: var(--crimson-color);
    }
    div.roll-up p {
      font-size: 10px;
      line-height: 13px;
    }
  }
  @media (max-width:360px) {
    .card-list  li img {
        width: 150px;
    }
    div.roll-up{
      width: 150px;
    }
    div.roll-up h4{
      margin-left:-10px;
      margin-top: 10px;
      font-size: 10px;
      color: var(--crimson-color);
    }
    div.roll-up p {
      margin: -10px;
      font-size: 7px;
    }
  }