button.gB {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--secondary-color);
    /* z-index: 1; */
    background: var(--crimson-color);
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 200ms;
    overflow: hidden;
    cursor: pointer;
}


button.gB::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--secondary-color);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px var(--crimson-color);
    box-shadow: 4px 8px 19px -3px var(--crimson-color);
    transition: all 200ms
}

button.gB:hover {
    color: var(--crimson-color);
    box-shadow: 0px 1px 30px -10px var(--crimson-color);
}

button.gB:hover::before {
    width: 100%;
}