
* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing:unset !important;
}

header{
    position: sticky;
    top: 10px;
    z-index: 10;
}


nav {
    position: fixed;
    top: 5px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0 !important;
    width: 85vw;
    z-index: 2;
    margin: 5px auto !important;
    border-radius: 23px;
    height: 60.4px;
    transition: height 400ms, background-color 0.4s ease-in-out;
    border: 2px solid var(--secondary-color);
    font-weight: bold;
    box-shadow: 0px 8px 20px -11px var(--nav-shadow);
    background-color: var(--nav-bck);
}

nav ul span{
    display: none;
    color: var(--secondary-color);
    position: absolute;
    bottom: -50%;
}

nav.bck {
    background-color: var(--main-color);
}

nav.filter {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

nav .logo {
    position: relative;
    padding: 10px 10px !important;
    cursor: pointer;
    font-size: 25px !important;
    text-shadow: 0 0 10px var(--logo-shadow);
    color: var(--secondary-color);
    transition: all 0.3s ease-out;
}

nav .logo a {
    all: unset;
    cursor: pointer;
}

nav .logo::after {
    content: "";
    position: absolute !important;
    width: 3px !important;
    height: 65% !important;
    background-color: var(--crimson-color);
    top: 17.5% !important;
    right: -10px !important;
    cursor: default;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: 300ms ease-in-out;
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    font-weight: bold;
    text-transform: uppercase;
    margin: 16px;
    padding-left: 0 !important;
    /* align-items: center; */
}


nav ul li{
    position: relative;
    margin: 0 10px;
}

nav ul + div {
    position: absolute;
    right: 5em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

nav ul + div a {
    all:unset;
    padding: 5px 10px !important;
    cursor: pointer;
    color:var(--secondary-color);
    border-radius: 6px;
    transition: all 0.15s ease-out;
    display: block;
    width: fit-content;
}

nav ul + div a:hover {
    background-color: var(--nav-shadow);
    color: var(--lighter-bg);
}

nav ul li a:hover {
    background-color: var(--nav-shadow);
    color: var(--lighter-bg);
}

nav ul + div a i {
    color: var(--secondary-color);
    transition: 150ms ease-out;

}

nav ul + div a:hover i {
    color: var(--crimson-color);
}

nav ul li a {
    all:unset;
    padding: 5px 10px !important;
    cursor: pointer;
    color:var(--secondary-color);
    border-radius: 6px;
    transition: all 0.15s ease-out;
}

nav ul li a:hover {
    background-color: var(--nav-shadow);
    color: var(--lighter-bg);
}

nav ul li a.active {
    color: var(--lighter-bg);
    background-color: var(--nav-shadow);
}


nav.grow{
    height:calc(100% - 20px);

    #user-signIn {
        display: flex !important;
    }
}

nav ul.order {
    display: flex;
    transition: 0.3s;
}

nav .hamburger{
    display: none;
    text-shadow: 0 0 10px var(--hover-shadow);
    transition: color 0.3s, text-shadow 0.3s;
    color: var(--secondary-color);
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--nav-bck);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.2s ease-out;
}
.hamburger:hover svg {
    background-color: var(--nav-shadow);
}

.hamburger:hover svg .line {
    stroke: var(--lighter-bg);
}
.line {
    fill: none;
    stroke: var(--secondary-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;

    transition: stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-15deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

header nav #theme-switch{
    all: unset;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--nav-bck);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    color: var(--secondary-color);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out,  color 0.2s ease-in-out, transform 0.3s ease-out;
}

header nav #theme-switch:hover{
    background-color: var(--nav-shadow);
}
header nav #theme-switch:hover i {
    color: var(--lighter-bg);

}

header nav #theme-switch i:last-child {
    display: none;
}
.lightmode header nav #theme-switch i:first-child{
    display: none;
}
.lightmode header nav #theme-switch i:last-child{
    display: block;
}

@media (max-width:1180px) {
    nav ul{
        flex-direction: column;
        align-items: center;
        display: none;
        margin-top: 50px;
        padding:0;
        height: 60%;
        margin: 50px 0 !important;
    }
    nav ul span{
        display: block;
    }
    nav ul li {
        padding: 5px;
        margin: 0;
        width: fit-content;
    }
    nav {
        justify-content: space-between;
        align-items: flex-start;
    }
    nav div {
        padding: 15px;
    }
    nav .hamburger {
        display: block;
    }
    nav ul li::before {
        content: "";
        position: absolute;
        top: 91%;
        width: 0;
        height: 2px;
        transition: width 300ms;
        border-radius: 10px;
    }
    nav ul li:first-child:hover::before {
        width: 90%;
    }
    nav ul li:last-child:hover::before {
        width: 68%;
    }
    nav ul li:hover::before {
        width: 90%;
    }

    nav .logo {
        left: 50%;
        transform: translateX(-50%);
    }
    nav .logo::after{
        display: none;
    }
    header nav #theme-switch{
        right: 50px;
    }
    
    nav #theme-switch:hover {
        transform:none;
    }

    #user-signIn {
        flex-direction: column;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: none !important;
    }
    #user-signIn a {
        margin-bottom: 5px;
    }
    #logout-link {
        display: none !important;
    }
}