
* {
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 10px;
    z-index: 10;
}
nav {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px;
    width: 85vw;
    z-index: 2;
    margin: 5px auto;
    border-radius: 23px;
    height: 60.4px;
    transition: height 400ms, background-color 0.4s ease-in-out;
    border: 2px solid var(--secondary-color);
    font-weight: bold;
    box-shadow: 0px 8px 20px -11px var(--nav-shadow);
    background-color: var(--nav-bck);
}

nav.bck {
    background-color: var(--main-color);
}

nav.filter {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

nav .logo {
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 25px;
    text-shadow: 0 0 10px var(--logo-shadow);
    color: var(--secondary-color);
    transition: color 0.3s, text-shadow 0.3s;
}

nav .logo a {
    all: unset;
    cursor: pointer;
}

nav .logo::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 65%;
    background-color: var(--crimson-color);
    top: 17.5%;
    right: -10px;
    cursor: default;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: 300ms ease-in-out;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font: bold 1.5rem;
    text-transform: uppercase;
}

nav ul li{
    position: relative;
    margin: 0 20px;
}
nav ul li a {
    padding: 15px 0;
    all:unset;
    cursor: pointer;
    color:var(--secondary-color);
    transition: color 0.3s, text-shadow 0.3s ease-out;
    
}

nav ul li a:hover {
    text-shadow: 0 0 10px var(--hover-shadow);
}


nav ul li::before{
    content: "";
    position: absolute;
    top: 97%;
    width: 0;
    height: 2px;
    background-color: var(--crimson-color);
    transition: width 300ms;
    border-radius: 10px;
}

nav ul li:hover::before{
    width: 100%;
}


nav.grow{
    height:300px;
}

nav ul.order {
    display: flex;
    transition: 0.3s;
}

nav .hamburger{
    display: none;
    text-shadow: 0 0 10px var(--hover-shadow);
    transition: color 0.3s, text-shadow 0.3s;
    color: var(--secondary-color);
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--nav-bck);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;

    transition: stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-15deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

header nav #theme-switch{
    all: unset;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--nav-bck);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    color: var(--secondary-color);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out,  color 0.2s ease-in-out, transform 0.3s ease-out;
}

header nav #theme-switch:hover{
    background-color: #ffffff6e;
    transform: rotate(-30deg);
}

header nav #theme-switch i:last-child {
    display: none;
}
.lightmode header nav #theme-switch i:first-child{
    display: none;
}
.lightmode header nav #theme-switch i:last-child{
    display: block;
}

@media (max-width:960px) {
    nav ul{
        flex-direction: column;
        align-items: center;
        display: none;
        margin-top: 50px;
        padding:0;
    }
    nav ul li {
        padding: 5px;
        margin: 0;
        width: fit-content;
    }
    nav {
        justify-content: space-between;
    }
    nav div {
        padding: 15px;
    }
    nav .hamburger {
        display: block;
    }
    nav ul li::before {
        content: "";
        position: absolute;
        top: 91%;
        width: 0;
        height: 2px;
        transition: width 300ms;
        border-radius: 10px;
    }
    nav ul li:first-child:hover::before {
        width: 90%;
    }
    nav ul li:last-child:hover::before {
        width: 68%;
    }
    nav ul li:hover::before {
        width: 90%;
    }

    nav .logo {
        left: 50%;
        transform: translateX(-50%);
    }
    nav .logo::after{
        display: none;
    }
    header nav #theme-switch{
        right: 50px;
    }
    
    nav #theme-switch:hover {
        transform:none;
    }
}