
:root{
    --main-color:#181818;
    --secondary-color:#f3f3f3;
    --header-color:white;
    --text-color:white;
}

* {
    box-sizing: border-box;
}

.navbar{
    position: sticky;
    top: 10px;
    z-index: 10;
}
nav {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3px;
    width: 85vw;
    z-index: 2;
    color:var(--secondary-color);
    margin: 5px auto;
    border-radius: 23px;
    height: 60.4px;
    transition: height 200ms;
    border: 2px solid var(--secondary-color);
    font-weight: bold;
    /* box-shadow: 0 7px 20px rgba(255, 255, 255, 0.5); */
}

nav.bck {
    background-color: var(--main-color);
}

nav.filter {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav .logo {
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect for text */
    transition: color 0.3s, text-shadow 0.3s;
}   
nav .logo a {
    all: unset;
    cursor: pointer;
}

nav .logo::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 65%;
    background-color: var(--secondary-color);
    top: 17.5%;
    right: -10px;
    cursor: default;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: 300ms ease-in-out;
}

nav ul li{
    position: relative;
    margin: 0 20px;
}
nav ul li a {
    padding: 15px 0;
    all:unset;
    cursor: pointer;
    /* text-shadow: 0 0 4px rgba(255, 255, 255, 0.8); 
    transition: color 0.3s, text-shadow 0.3s; */
}
nav ul li a:hover {
    /* color: #fd442a; */
}

nav ul li::before{
    content: "";
    position: absolute;
    top: 97%;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 300ms;
    border-radius: 10px;
}

nav ul li:hover::before{
    width: 100%;
}

nav .bars{
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect for text */
    transition: color 0.3s, text-shadow 0.3s;
}

nav.grow{
    height:300px;
}

nav ul.order {
    display: flex;
    transition: 0.3s;
}

@media (max-width:960px) {
    nav ul{
        flex-direction: column;
        align-items: center;
        display: none;
        margin-top: 50px;
        padding:0;
    }
    nav ul li {
        padding: 5px;
        margin: 0;
        width: fit-content;
    }
    nav {
        justify-content: space-between;
    }
    nav div {
        padding: 15px;
    }
    nav .bars {
        opacity: 1;
    }
    nav ul li::before {
        content: "";
        position: absolute;
        top: 97%;
        width: 0;
        height: 2px;
        background-color: var(--secondary-color);
        transition: width 300ms;
        border-radius: 10px;
    }

}

.container {
    margin-left: 80px;
    margin-right: 80px;
}