
.container .pricing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

.plans {
    transition: all 0.3s ease-in-out;
}

.plans:hover {
    box-shadow: 0 8px 30px var(--box-shadow);
    transform: translateY(-5px);
}

.container .pricing h1 {
    color: var(--crimson-color);
    text-align: center;
    font-size: 80px;
    margin: 0 0 30px 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--secondary-color);
}

.container .pricing p {
    text-align: start;
    line-height: 24px;
    color: var(--text);
}


@media (max-width:566px){
    .container .pricing h1 {
        font-size: 50px;
    }
    .container .pricing p {
        line-height: 17px;
    }
    .bCard {
        width: 300px;
    }
    .red-border {
        padding: 0;
    }
    .bCard::after, .bCard::after {
        background-image: conic-gradient(from var(--angle), transparent);
    }
}
@media (max-width:474px){
    .container .pricing h1 {
        font-size: 40px;
        -webkit-text-fill-color: var(--crimson-color);
        -webkit-text-stroke: 0
    }
    .container .pricing p {
        line-height: 20px;
    }
    .bCard {
        width: 250px;
    }
}
@media (max-width:351px){
    .container .pricing h1 {
        font-size: 35px;
    }
    .container .pricing p {
        line-height: 10px;
        line-height: 20px;
    }
    .bCard {
        width: 200px;
    }
}

.plans .pricing button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--secondary-color);
    z-index: 1;
    background: var(--crimson-color);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.plans .pricing button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--secondary-color);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px var(--crimson-color);
    box-shadow: 4px 8px 19px -3px var(--crimson-color);
    transition: all 250ms
}

.plans .pricing button:hover {
    color: var(--crimson-color);
    box-shadow: 0px 1px 30px -10px var(--crimson-color);
}

.plans .pricing button:hover::before {
    width: 100%;
}