
.red-border {
    border-radius: 10px;
    padding: 0 0 0 20px;
    border: 2px solid var(--crimson-color);
    box-shadow: 0 4px 20px rgba(229, 9, 20, 0.3);
}
.container {
    margin-left: 100px;
    margin-right: 100px;
}

.main-heading{
    margin:0;
    text-align: start;
    margin-bottom: 40px;
    margin-top: 80px;
    object-fit: cover;
    padding-left: 15px;

}
.main-heading h1{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--crimson-color);
    font-size: 100px;
    margin-bottom:0;
    margin-top: -50px;
    
}
.main-heading p{
    color: var(--secondary-color);
    padding: 10px;
    font-size: 20px;
}


@media (max-width:1073px){
    .main-heading p {
        font-size: 17px;
    }
}

@media (max-width:937px){
    .main-heading h1 {
        font-size: 85px;
    }
    .main-heading p {
        font-size: 15px;
    }
    .container {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media (max-width:837px){
    .main-heading h1 {
        font-size: 75px;
    }
    .main-heading p {
        font-size: 13px;
    }
}
@media (max-width:795){
    .main-heading h1 {
        font-size: 45px;
    }
    .main-heading p {
        font-size: 13px;
    }
    .container {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width:735px){
    .main-heading h1 {
        font-size: 40px;
        -webkit-text-fill-color: var(--crimson-color);
        -webkit-text-stroke: 0;
    }
    .main-heading p {
        font-size: 13px;
    }
    .container {
        margin-left: 40px;
        margin-right: 40px;
    }
}