
.main-heading{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    object-fit: cover;
    /* clip-path: polygon(15% 0,100% 0, 85% 100%, 0% 100%); */

}
.main-heading h1{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--crimson-color);
    font-size: 100px;
    margin-bottom:0;
    
}
.main-heading p{
    color: var(--secondary-color);
    padding: 10px;
    font-size: 20px;
}