:root{
  --main-color:#181818;
  --secondary-color:#f3f3f3;
  --header-color:white;
  --crimson-color:#dc143c;
  --crimson-shadow:#dc143c88;
}

body{
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--main-color);
  height: 300vh;
}
