

.hero{
    position: relative;
    height: 101vh;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-background video{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-bottom: 2px solid var(--crimson-color);
    box-shadow: 0 0 10px var(--box-shadow);
}


.video-background h1{
    position: absolute;
    bottom: 40%;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #f3f3f3;
    font-size: 100px;
    left: 20px;
}

.video-background .greatness{
    bottom: 25%;  
    left: 50px;
    -webkit-text-fill-color: #f3f3f3;
}
.video-background p {
    position: absolute;
    bottom: 27%;
    left: 333px;
    transform: translate(-55%,-50%);
    color: var(--secondary-color);
    font-size: 17px;
}
.video-background p span {
    color: var(--crimson-color);
    text-transform: uppercase;
    font-weight: bold;
}



.LandingBtn {
    position: absolute;
    top: 90%;
    left: 50%; 
    transform: translate(-50%,-50%);
    display: none;
}


@media (max-width:714px){
    .video-background h1{
        font-size: 70px
    }
    .video-background .greatness{
        bottom: 28%;
    }
    .video-background p{
        font-size: 15px;
        bottom: 27%;
        left: 280px;
    }
}

@media(max-width:617px){
    .hero .video-background p {
        display: none;
    }
    .video-background h1{
        font-size: 55px
    }
}

@media(max-width:375px){
    .video-background h1{
        font-size: 50px
    }
    .video-background .greatness{
        -webkit-text-fill-color: var(--secondary-color);
        -webkit-text-stroke: 3px transparent;
        bottom: 30%;
    }
}

