

.hero{
    position: relative;
    height: 101vh;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-background video{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}


.video-background h1{
    position: absolute;
    bottom: 40%;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #f3f3f3;
    font-size: 100px;
    left: 20px;
}

.video-background .greatness{
    bottom: 25%;  
    left: 50px;
    -webkit-text-fill-color: #f3f3f3;
}
.video-background p {
    position: absolute;
    bottom: 27%;
    left: 333px;
    transform: translate(-55%,-50%);
    color: var(--secondary-color);
    font-size: 17px;
}
.video-background p span {
    color: var(--crimson-color);
    text-transform: uppercase;
    font-weight: bold;
}



.btn-grad {background-image: linear-gradient(to right, #000000 0%, #e74c3c  51%, #000000  100%)}
.btn-grad {
    position: absolute;
    top: 90%;
    left: 50%; 
    transform: translate(-50%,-50%);
    border: 1px solid var(--secondary-color);
    margin: 10px;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}


@media (max-width:714px){
    .video-background h1{
        font-size: 70px
    }
    .video-background .greatness{
        bottom: 28%;
    }
    .video-background p{
        font-size: 15px;
        bottom: 27%;
        left: 280px;
    }
}

@media(max-width:617px){
    .hero .video-background p {
        display: none;
    }
}

@media(max-width:375px){
    .video-background h1{
        font-size: 50px
    }
    .video-background .greatness{
        -webkit-text-fill-color: var(--secondary-color);
        -webkit-text-stroke: 3px transparent;
        bottom: 30%;
    }
}

